*{
	margin: 0;
}

h1{
	color: green;
}
h3{
	color: green;
}
body
{
	background: "ARCHI_MAPS";
	height: auto;
}
.photo-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 5rem;

	width: 50rem;
	padding: 10px;

}
.photo
{
	padding-right: 15px ;
	padding-left: 15px ;
}
.photo img
{
	border-radius: 5px;
}

nav
{
	display: flex;

}


 
.header
{
	background-color:black ;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.career-container
{
  	display: flex;
	align-items: center;
	justify-content: space-between;
		margin-right: auto;
	margin-left: auto;

	width: 50rem;
	padding: 10px;

}

.career
{
	margin-left: auto;
	margin-right: auto;
	width: 50rem;
}


.headerII
{

	display: flex;
	align-items: center;

}
.headerII span 
{
	color: #ffffff;
}
.headerII img {
	margin-right: 0.4rem;
	border-radius: 50rem;
	margin-left: 0.7rem;
}
.navy
{
	border-color:;
	display: flex;
	flex-wrap: wrap;
	max-width: 10rem;
	margin-left: -0.11rem;
	margin-bottom: -0.6rem;
	justify-content: space-between;
	padding: 5px;

}
.parcour
{
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: 50rem;

}
.points-vues{

    margin-left: 0.8rem;
}

.social-media 
{
	background-color: black;
	display: flex;
	justify-content: space-between;

}
.google
{
	display: flex;
	justify-content: space-between;
	padding-left:7rem ;
	
}
.google span
{
	color: #ffffff;
}
.google a{
	text-decoration: none;
}
.google img
{
		margin-right: 0.4rem;
	border-radius: 6px;
	margin-left: 0.7rem;

}
.reel
{
	display: flex;
	justify-content: space-between;
	
}
.reel span
{
	color: #ffffff;

}
.reel a    {
	text-decoration: none;
}
.reel img
{
	margin-right: 0.4rem;
	border-radius: 5px;
	margin-left: 0.7rem;
}
.friend
{
	display: flex;
	justify-content: space-between;
	color: white;
	padding-right: 7rem;
}
	

	

}
.friend span
{
	color: #ffffff;
}


.navbar{
	margin-right: 0.625rem;
}
.navbar a{
	text-decoration: none;
}
.facebook{
	color: white;
	
}
.friend a {
	text-decoration: none;
}
.fab{
		color: green;
	font-size: 1.5rem;
}
.fas{
	color: green;
	font-size: 1.5rem;
}

.navbar a{
	color: white;
}
.adress{
	background-color: black;
	padding-top: 30px;
	padding-left: 10px;

display: flex;
justify-content: space-between;
}
.call{
	display: flex;
	justify-content: space-between;
	padding-left: 6.5rem;
	

}
.call p{
	color: white;
	text-decoration: none;

}
.lieu
{
	display: flex;
	
}
.lieu span{
	color: white;
	text-decoration: none;
}
